/* line 1, /Users/amareelez/RubymineProjects/Survey/app/assets/stylesheets/secret_codes.css.scss */
body {
    background-image: url(/assets/background-63890da3c17186e328129b227563cec6db716bfcbb195f554a76863344b83a66.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
