.panel.panel-default
  .panel-heading
    .h3 Authentication
  .panel-body
    =form_tag(controller: 'secret_codes' , action: :check) do
      .field
        =label_tag :value, 'Enter your survey code here:'
        =text_field_tag :value
      %p
      .actions
        =button_tag 'Go' , class: 'btn btn-primary' , type: :submit